<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pluu.webtoon">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/BaseMaterialAppTheme">
        <meta-data
            android:name="com.pluu.webtoon.MyGlideModule"
            android:value="GlideModule"/>

        <activity
            android:name=".ui.IntroActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".ui.EpisodesActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.DetailActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ui.settting.SettingsActivity"
            android:label="@string/label_setting"
            android:screenOrientation="portrait"
            android:theme="@style/PreferenceToolBar"/>
        <activity
            android:name=".ui.settting.LicenseActivity"
            android:label="@string/label_license"
            android:screenOrientation="portrait"
            android:theme="@style/BaeMaterialAppThemeToolBar"/>
    </application>

</manifest>