<manifest package="com.pluu.webtoon"
		  xmlns:android="http://schemas.android.com/apk/res/android">

	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:name=".AppController"
		android:allowBackup="true"
		android:largeHeap="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/BaseMaterialAppTheme" >
		<activity
			android:name=".IntroActivity"
			android:screenOrientation="portrait"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize" />
		<activity
			android:name=".EpisodesActivity"
			android:configChanges="orientation|screenSize" />
		<activity
			android:name=".DetailActivity"
			android:configChanges="orientation|screenSize" />
	</application>

</manifest>
